################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunCoding/obj/project.nuget.cache
/FunCoding/obj/project.assets.json
/FunCoding/obj/FunCoding.csproj.nuget.g.targets
/FunCoding/obj/FunCoding.csproj.nuget.g.props
/FunCoding/obj/FunCoding.csproj.nuget.dgspec.json
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.csprojAssemblyReference.cache
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.assets.cache
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.AssemblyInfoInputs.cache
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.AssemblyInfo.cs
/FunCoding/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/FunCoding/v16/.suo
/FunCoding/bin/Debug/netcoreapp3.1/FunCoding.runtimeconfig.json
/FunCoding/bin/Debug/netcoreapp3.1/FunCoding.runtimeconfig.dev.json
/FunCoding/bin/Debug/netcoreapp3.1/FunCoding.pdb
/FunCoding/bin/Debug/netcoreapp3.1/FunCoding.exe
/FunCoding/bin/Debug/netcoreapp3.1/FunCoding.dll
/FunCoding/bin/Debug/netcoreapp3.1/FunCoding.deps.json
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.pdb
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.genruntimeconfig.cache
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.exe
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.dll
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.csproj.FileListAbsolute.txt
/FunCoding/obj/Debug/netcoreapp3.1/FunCoding.csproj.CoreCompileInputs.cache
